.main {
    margin-top: 10%;
    display: flex;
    gap: 24px;
    &__left {
        width: calc(98vw - 238px);
        animation-duration: 1s;
        animation-name: show;
        animation-timing-function: ease-in-out;
    }
    &__about {
        position: absolute;
        width: 525px;
        margin-left: 44px;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.4);
        z-index: 2;
    }
    &__num {
        position: absolute;
        left: 60%;
        bottom: 0;
        font-family: 'Helvetica', sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        color: #3A3A3A;
    }
    &__title {
        margin: 16px 0 13px;
        font-weight: 300;
        font-size: 62px;
        line-height: 90px;
        color: #000;
        position: relative;
        span{
            font-size: 22px;
            line-height: 32px;
            position: absolute;
            top: 14px;
        }
    }
    &__buttons {
        margin-top: 49px;
        display: flex;
        gap: 24px;
    }
    &__button {
        width: 185px;
        height: 72px;
        display: flex;
        justify-content: space-between;
        padding: 27px 30px 27px 36px;
        border: 1px solid #808080;
        border-radius: 8px;
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #030304;
        cursor: pointer;
        transition: 0.2s all;
        &:hover{
            background-color: rgb(240, 240, 240);
            box-shadow: 5px 5px 10px rgb(80, 78, 78);
        }
        &:first-child{
            font-weight: 500;
            color: #FFFFFF;
            background-color: #000;
            border: none;
            &:hover{
                background-color: rgb(29, 29, 29);
            }
        }
    }

    &__slider {
        width: 700px;
        height: 60%;
        position: absolute;
        bottom: 20px;
        right: 60px;
        overflow: hidden;
        scroll-behavior: smooth;
        transition: 2s all;
    }
    &__slider-wrapper {
        display: flex;
        height: 100%;
        transition: 1s all;
    }
    &__slide {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    &__slide-1 {
        background-image: url('./../img/sneakers.png');
    }
    &__slide-2 {
        background-image: url('./../img/sneakers2.png');
    }
    &__slide-3 {
        background-image: url('./../img/sneakers3.png');
    }
    &__slide-4 {
        background-image: url('./../img/sneakers4.png');
    }

    &__right {
        width: 80vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(107px, 1fr));
        transform-origin: bottom left;
        position: absolute;
        bottom: 50px;
        transform: rotate(-90deg);
    }
    &__social {
        display: flex;
        gap: 32px;
    }
    &__team {
        display: flex;
        gap: 32px;
        justify-self: end;
    }
    &__aside{
        transition: 0.3s all;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
    }
    


}